@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/wire-elements/modal/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
  --font-sans:
    Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';


    --color-primary-50: oklch(0.977 0.013 236.62);
    --color-primary-100: oklch(0.951 0.026 236.824);
    --color-primary-200: oklch(0.901 0.058 230.902);
    --color-primary-300: oklch(0.828 0.111 230.318);
    --color-primary-400: oklch(0.746 0.16 232.661);
    --color-primary-500: oklch(0.685 0.169 237.323);
    --color-primary-600: oklch(0.588 0.158 241.966);
    --color-primary-700: oklch(0.5 0.134 242.749);
    --color-primary-800: oklch(0.443 0.11 240.79);
    --color-primary-900: oklch(0.391 0.09 240.876);
    --color-primary-950: oklch(0.293 0.066 243.157);


    --color-gray-50: oklch(0.984 0.003 247.858);
    --color-gray-100: oklch(0.968 0.007 247.896);
    --color-gray-200: oklch(0.929 0.013 255.508);
    --color-gray-300: oklch(0.869 0.022 252.894);
    --color-gray-400: oklch(0.704 0.04 256.788);
    --color-gray-500: oklch(0.554 0.046 257.417);
    --color-gray-600: oklch(0.446 0.043 257.281);
    --color-gray-700: oklch(0.372 0.044 257.287);
    --color-gray-800: oklch(0.279 0.041 260.031);
    --color-gray-900: oklch(0.208 0.042 265.755);
    --color-gray-950: oklch(0.129 0.042 264.695);
}

/*Override all Toastify styles*/
.toastify {
    @apply p-4
        bg-green-50 shadow-md
        font-medium text-green-800
        rounded-md fixed opacity-0 transition-all duration-250 ease-in-out
        no-underline
        flex items-center;
    max-width: calc(50% - 20px);
    z-index: 2147483647;
}

.toastify.warning {
    @apply bg-red-50 text-red-800;
}

.toastify.on {
    @apply opacity-100 transition-all duration-250 ease-in-out
}

.toast-close {
    @apply absolute -top-3 -right-3 cursor-pointer bg-gray-50 shadow-sm rounded-full border-0 text-xl size-6;
}

.toastify-right {
    @apply right-4;
}

.toastify-left {
    @apply left-4;
}

.toastify-top {
    @apply -top-40;
}

.toastify-bottom {
    @apply -bottom-40;
}

.toastify-rounded {
    @apply rounded-2xl;
}

.toastify-avatar {
    @apply size-6 -mx-2 my-1.5 rounded;
}

.toastify-center {
    @apply mx-auto left-0 right-0 max-w-fit;
}

@media only screen and (max-width: 360px) {
    .toastify-right, .toastify-left {
        @apply mx-auto left-0 right-0 max-w-fit;
    }
}
